body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#bonecosDiv{
    padding: 11px;
}
footer {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.credits {
    font-size: 14px;
}

.credits p {
    margin: 5px 0;
}
